.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header,.footer {
  background: url("./Assets/Pizza.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
  size: 40px;
}
.container{
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-a;
  padding: 4%;
  
}
.orders{
  border-radius: 25px;
  background: gold;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
